.popover-modal.lightBg.verticalPanel.row
	.popover-body
		.secPanel.supplierInfo
			.supplierLogo
				%img{:src => "../images/profiles/download.png"}
			.supplierHeader
				%p.supplierName
					Supplier Name 
				%p.supplierMember
					Supplier membership type
				%p.supplierVerified
					%img.icn.img-responsive{:src=>"../images/icons/greentick.png"}
					Verified Supplier
			%p
				%label
					12 closed deals
				%span 120K.
				%img.ttltp.icn{:src => "../images/icons/black-2x.png", "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Tooltip on right"}
			%p
				%label
					Success
				%span 90%
				%img.ttltp.icn{:src => "../images/icons/black-2x.png", "data-toggle"=>"tooltip", "data-placement"=>"top", "title"=>"Tooltip on right"}

		.secPanel.QandA
			%p
				%label
					can I order a sample?
				%span Yes
			%p
				%label
					can deliver?
				%span Yes
			%p
				%label
					Packaging
				%span Carton
			%p
				%label
					Manufactured in
				%span Japan
		.secPanel.payment
			%h5 Payment
			%img.icn{:src=>"../images/icons/bg_15-2x.png"}
			%img.icn{:src=>"../images/icons/bg_15-2x.png"}
			%img.icn{:src=>"../images/icons/bg_15-2x.png"}
			%img.icn{:src=>"../images/icons/bg_15-2x.png"}