#Breadcrumps
	%a.breadGoBack.icn.bg_5{:href => ""} Back to communications...
	%ul.breadcrumps
		%li
			%a.bg_22{:href=>""}
				projects
		%li
			%a.bg_22{:href=>""}
				News
		%li
			%a.bg_22{:href=>""}
				Comm
		%li
			%a.bg_22{:href=>""}
				text
		%li
			%span
				projects