.pageBar.featureBar.borderedBar
	.col-sm-4
		.featureIcon 
			%img.icn{:src=>"images/icons/Securepaymets.png"}
		.featureDescription
			%label Secure paymets
			%span Abraa pay security to all parties
	.col-sm-4
		.featureIcon 
			%img.icn{:src=>"images/icons/inspection.png"}
		.featureDescription
			%label Products inspection
			%span Onsite product verification for buyers 
	.col-sm-4
		.featureIcon 
			%img.icn{:src=>"images/icons/BuyerProtection.png"}
		.featureDescription
			%label Buyer Protection
			%span Safe, secure, and trusted way of buying
	.clear