.col-sm-3.sidebarSlider.in#sidebar
	.sidebar
		.sidebar-inner
			#Breadcrumps
				%a.breadGoBack.icn.bg_5{:href=>""} ALL categories
			%ul
				%li.active.dropdown
					%a.dropdown-toggle.icn.bg{:href=>"", 'data-toggle'=>"dropdown", 'role'=>"button", 'aria-haspopup'=>"true", 'aria-expanded'=>"false"}
						Electronics
						%span.caret
					%ul.dropdown-menu
						%li
							%a{:href=>""} Home appliances
						%li
							%a{:href=>""} Cameras, Lenses & Accessories
						%li
							%a{:href=>""} TV, Audio & Video accessories
						%li
							%a{:href=>""} Cables & Connectors
						%li
							%a.more{:href=>""} + More

				%li
					%a.bg_18{:href=>""} Suppliers
				%li
					%a.bg_17{:href=>""} Offers & Deals
				%li
					%a.bg_19{:href=>""} Favorites
				%span.dividerH
				%li
					%a.bg_12{:href=>""} Dashboard
				%li
					%a.cost-control{:href=>""} Purchase orders
				%li
					%a.contracts{:href=>""} My RFQs
				%span.dividerH
				%li
					%a.comnctn{:href=>""} Messages
				%li
					%a.grey-base_5{:href=>""} Settings

			/ SideFooter
			%span.dividerH
			.footer
				%ul
					%li.lang
						%a{:href=>""}
							En 
					%li
						%a{:href=>""} About 
					%li
						%a{:href=>""} Privacy 
					%li
						%a{:href=>""} Terms 
				%button.btn.btn-secondary.btn-xs
					sell on abraa 
				.Designs
					%span UX/UI Designed by
					%a{:href=>"http://simpleia.com/", 'target'=> "_blank"}
						%img{:src=>"images/img/simpleia_logo.png"}