.pageBar.searchResultsBar.borderedBar
	%h4 
		283 results found for
		%span ‘Condenser’
	.barAction.pull-right
		= Haml::Engine.new(File.read(File.expand_path 'src/includes/bars/sortingBar.haml')).render
	.clear