.sorting
	%label Sort by
	.sortingbtns
		%button.btn.btn-primary.btn-xs{:type => "button"} Relevance
		%button.btn.btn-dimmed.btn-xs{:type => "button"} $
		%button.btn.btn-dimmed.btn-xs{:type => "button"} $$$$
		%button.btn.btn-dimmed.btn-xs{:type => "button"} Latest