%script{'src' => 'js/jquery.js'}
%script{'src' => 'js/bootstrap/dropdown.js'}
// Dropdown animation
:javascript
	$('.dropdown').on('show.bs.dropdown', function() {
		$(this).find('.dropdown-menu').first().stop(true, true).slideDown();
	});

	$('.dropdown').on('hide.bs.dropdown', function() {
		$(this).find('.dropdown-menu').first().stop(true, true).slideUp();
	});
%script{'src' => 'js/bootstrap/modal.js'}
%script{'src' => 'js/bootstrap/collapse.js'}
// select 
%script{'src' => 'js/stylingOptions.js'}
%script{'src' => 'js/rating.js'}
%script{'src' => 'js/swiper.js'}
%script{'src' => 'js/swiperCall.js'}

// styles overrides
%script{'src' => 'js/styles.js'}